:root {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-box-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html,
body {
  height: 100vh;
  margin: 0px;
  padding: 0px;
  color: #444;
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

* {
  box-sizing: border-box;
}

a {
  color: #2b2b2b;
  text-decoration: none;
}

a:hover {
  color: #3b82f6;
  text-decoration: underline;
}

.p-datatable.p-datatable-sm .p-datatable-tbody > tr > td {
  padding: 0rem 0.5rem;
}
